body{
   background: linear-gradient(rgb(0, 149, 255),pink,white) no-repeat;
   height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}